<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Responsive Payment getway form design in Hindi</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/payment3.css' %}">
</head>
<body>
<header>
	<div class="container">
		<div class="left">
			<h3>BILLING ADDRESS</h3>
			<form method="post" action="{% url 'pay3' %}">
				{% csrf_token %}
				Full name
				<input type="text" name="name1" placeholder="Enter name">
				Email
				<input type="text" name="email" placeholder="Enter email">

				Address
				<input type="text" name="address" placeholder="Enter address">
				
				City
				<input type="text" name="city" placeholder="Enter City">
				<div id="zip">
					<label>
						State
						<select>
							<option>Choose State..</option>
							<option>Rajasthan</option>
							<option>Hariyana</option>
							<option>Uttar Pradesh</option>
							<option>Madhya Pradesh</option>
						</select>
					</label>
						<label>
						Zip code
						<input type="number" name="zipcode" placeholder="Zip code">
					</label>
				</div>
			</div>
			<div class="right">
				<h3>PAYMENT</h3>
				Accepted Card <br>
				<img src="{% static 'css/card1.png' %}" width="100">
				<img src="{% static 'css/card2.png' %}" width="50">
				<br><br>
				
				Credit card number
				<input type="text" name="cardnumber" placeholder="Enter card number" max="15">
				
				<label>
				Exp month
				<input type="text" name="month" placeholder="Enter Month">
				</label>
				<div id="zip">
					<label>
						Exp year
						<select>
							<option>Choose Year..</option>
							<option>2022</option>
							<option>2023</option>
							<option>2024</option>
							<option>2025</option>
						</select>
					</label>
					<label>
						CVV
						<input type="number" name="cvv" placeholder="CVV">
					</label>
				</div>
				<form method="POST" action="{% url 'success' %}">
				<input type="submit" value="Proceed to Checkout">
					<a href="{% url 'success' %}" class="trigger-btn" type="button" data-toggle="modal" class="button button--full" value ="Place order"><svg class="icon">
					<use xlink:href="#icon-shopping-bag" />
					
					</form>
			</form>
		</div>
	</div>
</header>
</body>
</html>